<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orange.ilbun.repository.CartMapper">

    <select id="findByUserId" resultType="com.orange.ilbun.model.Cart">
		<![CDATA[
        select * from cart where user_id = #{userId}
        ]]>
	</select>
    <select id="findCartIdByUserId" resultType="Long">
		<![CDATA[
        select cart_id from cart where user_id = #{userId}
        ]]>
	</select>

    <insert id="save" parameterType="com.orange.ilbun.model.Cart">
        <![CDATA[
        INSERT INTO cart (user_id) VALUES (#{userId})
        ]]>
        <selectKey keyProperty="cartId" resultType="java.lang.Long"
                   order="AFTER">
            SELECT LAST_INSERT_ID() AS cartId
        </selectKey>
    </insert>

    <select id="findCountByCartIdAndItemId"
            parameterType="com.orange.ilbun.model.CartItem" resultType="Integer">
      <![CDATA[
        SELECT COUNT(*) FROM cart_item WHERE cart_id = #{cart.cartId} AND item_id = #{item.itemId}
        ]]>
	</select>

    <insert id="insertCartItem" parameterType="com.orange.ilbun.model.CartItem">
    <![CDATA[
        INSERT INTO cart_item (cart_id, item_id, quantity) VALUES (#{cart.cartId}, #{item.itemId}, #{count})
        ]]>
	</insert>

    <update id="updateItemCount" parameterType="com.orange.ilbun.model.CartItem">
    <![CDATA[
        UPDATE cart_item SET quantity = quantity + #{count} WHERE cart_id = #{cart.cartId} AND item_id = #{item.itemId}
        ]]>
	</update>

    <update id="updateCartItemCount" parameterType="com.orange.ilbun.model.Cart">
    <![CDATA[
        UPDATE cart SET count = (SELECT SUM(quantity) FROM cart_item WHERE cart_id = #{cartId}) WHERE cart_id = #{cartId}
        ]]>
</update>

    <delete id="deleteItemInCart" parameterType="Long">
		<![CDATA[
        delete from cart_item
        where item_id=#{itemId} and cart_id = (select cart_id from cart where user_id = #{id})
        ]]>
	</delete>

    <delete id="deleteInCart" parameterType="Long">
		<![CDATA[
        delete from cart_item
        where item_id=#{itemId} and cart_id = (select cart_id from cart where user_id = #{id})
        ]]>
	</delete>



</mapper>